<!-- app/views/quizzes/show.html.erb -->
<h1><%= @quiz.title %></h1>

<p><%= @quiz.description %></p>

<!-- Mensagens de Sucesso e Erro -->
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(url: answer_quiz_path(@quiz), method: :post, local: true) do %>
  <% @questions.each do |question| %>
    <div class="question">
      <h3><%= question.content %></h3>
      <% question.answers.each do |answer| %>
        <div class="answer">
          <%= radio_button_tag "responses[#{question.id}]", answer.id, false, class: "answer-radio" %>
          <%= label_tag "responses_#{question.id}_#{answer.id}", answer.content %>
        </div>
      <% end %>
    </div>
  <% end %>

    <%= submit_tag 'Enviar Resposta', class: 'btn btn-primary' %>
 
<% end %>


<%= link_to 'Voltar para Quizzes', quizzes_path, class: 'btn btn-secondary' %>
