<h1><%= @quiz.title %></h1>

<p><%= @quiz.description %></p>

<% if @questions.present? %>
  <%= form_with(url: answer_quiz_path(@quiz), method: :post, local: true, id: 'quiz-form') do %>
    <% @questions.each do |question| %>
      <div class="question">
        <h3><%= question.content %></h3>
        <% question.answers.each do |answer| %>
          <div class="answer">
            <%= radio_button_tag "responses[#{question.id}]", answer.id, false, id: "answer_#{question.id}_#{answer.id}" %>
            <%= label_tag "answer_#{question.id}_#{answer.id}", answer.content %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= submit_tag 'Enviar Respostas', class: 'btn btn-success' %>
  <% end %>
<% else %>
  <p>Esse quiz não possui perguntas ainda.</p>
<% end %>

<%= link_to 'Voltar para Quizzes', quizzes_path, class: 'btn btn-secondary' %>
