<!-- app/views/admin/quizzes/index.html.erb -->
<h1>Gerenciamento de Quizzes</h1>

<%= link_to 'Novo Quiz', new_admin_quiz_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.title %></td>
        <td><%= quiz.description %></td>
        <td>
          <%= link_to 'Ver', admin_quiz_path(quiz) %> |
          <%= link_to 'Editar', edit_admin_quiz_path(quiz) %> |
          <%= button_to 'Excluir', admin_quiz_path(quiz), method: :delete, data: { turbo_confirm: 'Tem certeza?', turbo_action: 'remove' }, class: 'btn-link', style: 'background:none; border:none; padding:0; color:#007bff; text-decoration:underline; cursor:pointer;' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
