<!-- app/views/admin/quizzes/show.html.erb -->
<h1><%= @quiz.title %></h1>

<p>
  <strong>Descrição:</strong>
  <%= @quiz.description %>
</p>

<h2>Perguntas</h2>
<%= link_to 'Adicionar Pergunta', new_admin_quiz_question_path(@quiz), class: 'btn btn-primary' %>

<ul>
  <% @quiz.questions.each do |question| %>
    <li>
      <%= question.content %> |
      <%= link_to 'Editar', edit_admin_quiz_question_path(@quiz, question), class: 'btn btn-warning btn-sm' %> |
      <%= button_to 'Excluir', admin_quiz_question_path(@quiz, question), method: :delete, data: { turbo_confirm: 'Tem certeza?', turbo_action: 'remove' }, class: 'btn-link', style: 'background:none; border:none; padding:0; color:#dc3545; text-decoration:underline; cursor:pointer; font-size: 14px;' %>

</li>
  <% end %>
</ul>

<%= link_to 'Voltar', admin_quizzes_path, class: 'btn btn-secondary' %>
