<!-- app/views/admin/questions/_answer_fields.html.erb -->
<div class="nested-fields">
  <%= f.hidden_field :user_id, value: current_admin.id %>
  
  <%= f.label :content, "Resposta" %>
  <%= f.text_field :content %>
  
  <%= f.label :correct, "Correta?" %>
  <%= f.check_box :correct %>
</div>
