<!-- app/views/admin/questions/_form.html.erb -->
<%= form_with(model: [@quiz, @question], local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "erro") %> proibiu esta pergunta de ser salva:</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.fields_for :answers do |answer_form| %>
      <div class="nested-fields">
        <%= answer_form.label :content %>
        <%= answer_form.text_field :content %>

        <%= answer_form.label :correct %>
        <%= answer_form.check_box :correct %>

        <%= link_to 'Remover Resposta', '#', class: 'remove_fields' %>
      </div>
    <% end %>
    <%= link_to_add_fields 'Adicionar Resposta', form, :answers %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
