<!-- app/views/admin/questions/_form.html.erb -->

<%= form_with(model: [@quiz, @question], local: true, url: admin_quiz_question_path(@quiz, @question), method: :patch) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "erro") %> proibiu esta pergunta de ser salva:</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div id="answers">
    <% 5.times do |index| %>
      <%= form.fields_for :answers, @question.answers[index] || @question.answers.build do |answer_form| %>
        <div class="nested-fields">
          <%= answer_form.label :content, "Resposta #{index + 1}" %>
          <%= answer_form.text_field :content %>

          <%= answer_form.label :correct, "Correta?" %>
          <%= answer_form.check_box :correct %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
