<!-- app/views/admin/questions/_form.html.erb -->

<%= form_with(model: [@quiz, @question], local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "erro") %> proibiu esta pergunta de ser salva:</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.fields_for :answers do |answer_form| %>
      <%= render 'answer_fields', f: answer_form %>
    <% end %>
    <%= link_to_add_association "Adicionar Resposta", form, :answers, partial: 'admin/questions/answer_fields' %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Pergunta" %>
  </div>
<% end %>
