<%= form_with(model: [@quiz, @question], url: @question.persisted? ? admin_quiz_question_path(@quiz, @question) : admin_quiz_questions_path(@quiz), local: true, method: @question.persisted? ? :patch : :post) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@question.errors.count, "erro") %> proibiu esta pergunta de ser salva:</h4>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= form.label :content, "Conteúdo da Pergunta", class: 'col-form-label font-weight-bold' %>
    <%= form.text_area :content, class: 'form-control', placeholder: 'Digite o conteúdo da pergunta' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Voltar', admin_quiz_path(@quiz), class: 'btn btn-secondary ' %>
  </div>
<% end %>

<style>
  .form-group {
    margin-bottom: 20px;
  }

  .col-form-label {
    font-weight: bold;
    color: #495057;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
    color: #495057;
  }

  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .btn-primary {
    background-color: #204a80;
    border-color: #204a80;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #183a61;
    transform: scale(1.05);
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
  }

  .ml-2 {
    margin-left: 10px; /* Espaçamento entre os botões */
  }

  .form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .mr-2 {
    margin-right: 10px;
  }

  .ml-2 {
    margin-left: 10px;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .mb-0 {
    margin-bottom: 0;
  }
</style>
