<!-- app/views/dashboards/show.html.erb -->
<h1>Bem-vindo, <%= current_user.email %>!</h1>

<p>Este é o seu dashboard, onde você pode ver os quizzes disponíveis e seu progresso.</p>

<h2>Seu Progresso</h2>
<p>
  <strong>Nível:</strong> <%= @user_level.classification %><br>
  <strong>Pontos:</strong> <%= @user_level.points %><br>
 
</p>

<h2>Últimos Quizzes Respondidos</h2>
<% if @recent_quizzes.present? %>
  <ul>
    <% @recent_quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.title, quiz_path(quiz) %> - Acessado em: <%= Time.now.strftime("%d/%m/%Y" ) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você ainda não acessou nenhum quiz.</p>
<% end %>






<h2>Ranking de Usuários</h2>
<% if @user_ranking.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Posição</th>
        <th>Usuário</th>
        <th>Pontos</th>
        <th>Nível</th>
      </tr>
    </thead>
    <tbody>
      <% @user_ranking.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.email %></td>
          <td><%= user.user_level.points %></td>
          <td><%= user.user_level.classification %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há dados suficientes para exibir o ranking.</p>
<% end %>






<h2>Quizzes Disponíveis</h2>
<% if @quizzes.present? %>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li><%= link_to quiz.title, quiz_path(quiz) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Não há quizzes disponíveis no momento.</p>
<% end %>
