<!-- app/views/dashboards/show.html.erb -->

<h1>Bem-vindo, <%= current_user.email %>!</h1>

<p>Este é o seu dashboard, onde você pode ver os quizzes disponíveis e seu progresso.</p>

<h2>Seu Progresso</h2>
<% if @user_level.present? %>
  <p>
    <strong>Nível:</strong> <%= @user_level.level %><br>
    <strong>Pontos:</strong> <%= @user_level.points %>
  </p>
<% else %>
  <p>Você ainda não acumulou pontos.</p>
<% end %>

<h2>Últimos Quizzes Respondidos</h2>
<% if @recent_answers.present? %>
  <ul>
    <% @recent_answers.each do |answer| %>
      <li>
        Quiz: <%= answer.question.quiz.title %> - Pergunta: <%= answer.question.content %> - Resposta: <%= answer.correct? ? 'Correta' : 'Incorreta' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você ainda não respondeu a nenhum quiz.</p>
<% end %>

<h2>Quizzes Disponíveis</h2>
<% if @quizzes.present? && @quizzes.any? %>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.title, quiz_path(quiz) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há quizzes disponíveis no momento.</p>
<% end %>
