<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= turbo_include_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <% show_navbar = !current_page?(root_path) && !(controller_name == 'sessions' && action_name == 'new') && !(controller_name == 'registrations' && action_name == 'new') %>

  <% if show_navbar %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'QuizApp', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Dashboard', user_dashboard_path, class: 'nav-link' %>
            </li>
             <li class="nav-item">
            <%= link_to 'Quizzes Disponíveis', quizzes_path, class: 'nav-link' %>
          </li>
            <li class="nav-item">
              <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-link' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Admin Dashboard', admin_root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= button_to 'Admin Logout', destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <% end %>

  <div class="container">
   
    <%= yield %>
  </div>

  <% if (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new') %>
    <div class="text-center mt-3">
      <%= link_to 'Voltar para Home', root_path, class: 'btn btn-primary' %>
    </div>
  <% end %>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
