<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= turbo_include_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <% show_navbar = !current_page?(root_path) && !(controller_name == 'sessions' && action_name == 'new') && !(controller_name == 'registrations' && action_name == 'new') %>

  <% if show_navbar %>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Dashboard', user_dashboard_path %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link' %>
      <% elsif admin_signed_in? %>
        <%= link_to 'Admin Dashboard', admin_root_path %>
        <%= button_to 'Admin Logout', destroy_admin_session_path, method: :delete, class: 'logout-link' %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </nav>
  <% end %>


<% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
  <% end %>

  
  <%= yield %>

  <% if (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new') %>
    <%= link_to 'Voltar para Home', root_path, class: 'btn btn-primary' %>
  <% end %>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
